 <ion-view view-title="Cursos" >
      <ion-content>
        <ion-list>
        <header ng-if="isAuthenticated">
          <h1>Tu ID es: {{auth.profile.identities[0].user_id}}</h1>
          <button class="button button-positive button-block" ng-click="logout()">
            Logout
          </button>
        </header>
        
          <ion-spinner ng-show="loading"></ion-spinner>
          <ion-item class="item item-thumbnail"
          ng-repeat="course in courses" href="#/app/courses/{{course.id_curso}}">
            <div class="list">
              <img ng-src="http://informaticaeducativaucc.com/imagenes/{{ course.imagen_presentacion }}" width="200px">
              <h2>{{course.nombre}}</h2>
              <h4>{{course.nombre_tematica}}</h4>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>
</ion-view>