<ion-tabs class="tabs-top tabs-color-light tabs-background-balanced">

  <!-- Courses Tab -->
  <ion-tab title="Courses" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/app/courses">
    <ion-nav-view name="courses">
      <ion-content>
        <ion-list>
          <ion-item class="item item-thumbnail"
          ng-repeat="course in courses" href="#/app/courses/{{course.id_curso}}">
            <div class="">
              <img ng-src="http://informaticaeducativaucc.com/imagenes/{{ course.imagen_presentacion }}" width="200px">
              <h2>{{course.nombre}}</h2>
              <h4>{{course.nombre_tematica}}</h4>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>

    </ion-nav-view>
  </ion-tab>

  <!-- Badges Tab -->
  <ion-tab title="Badges" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/app/badges">
    <ion-nav-view name="badges">
      <ion-content>
      </ion-content>
    </ion-nav-view>
  </ion-tab>

</ion-tabs>
