<ion-view view-title="Mi Perfil" >
  <ion-content>
    <ion-spinner ng-show="loading"></ion-spinner>
    <section class="list card">
      <article class="item item-avatar">
        <img src="{{user.foto}}">
        <h2>{{user.nombre}}</h2>
        <p><span class="strong">ID - </span>{{user.id}}</p>
        <p><span class="strong">Fecha de Inscripción: </span>{{user.fecha}}</p>
        <p><span class="strong">Tipo de usuario: </span>{{user.tipo_usuario}}</p>
        <p><span class="strong">Tipo de inteligencia: </span>{{user.tipo_inteligencia}}</p>
      </article>
      <button class="button button-positive button-block" ng-click="logout()">
        Salir
      </button>
    </section>
  </ion-content>
</ion-view>
