<ion-view view-title="Evaluación">
  <br/>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="multiple_question in multiple_questions">
        <h3 ng-bind-html="multiple_question.question">{{multiple_question.question}}</h3>
        <ion-radio ng-model="multiple_question.id" ng-value="a">A: {{multiple_question.a}}</ion-radio>
        <ion-radio ng-model="multiple_question.id" ng-value="b">B: {{multiple_question.b}}</ion-radio>
        <ion-radio ng-model="multiple_question.id" ng-value="c">C: {{multiple_question.c}}</ion-radio>
        <ion-radio ng-model="multiple_question.id" ng-value="d">D: {{multiple_question.d}}</ion-radio>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
